export GOPATH=$HOME/work
export GO111MODULE=on

export APJ_PORT="1323"
export APJ_AMAZON_ASSOCIATE_TAG="longkey1-22"
export APJ_AMAZON_ACCESS_KEY="AKIAJPP64AW5YHDGYB6Q"
export APJ_AMAZON_SECRET_KEY="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"
export APJ_AMAZON_LOCALE="Japan"
export APJ_AMAZON_RETRY_NUMBER="5"
export APJ_AMAZON_RETRY_DELAY_SECOND="3"
